<div id='header'>
    <span class="logo">
        Karakalpak News
    </span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class = "selected"{% endif %}>
                <a href="{% url 'dashboard' %}">
                    Post
                </a>
            </li>
            <li {% if section == "profile" %}class = "selected"{% endif %}>
                <a href="#">
                    Profile
                </a>
            </li>
            <li {% if section == "comments" %}class = "selected"{% endif %}>
                <a href="#">
                    Comments
                </a>
            </li>
        </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            Вы вошли как {{request.user.first_name|default:request.user.username}}
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            |
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </span>
</div>



